<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="End To End User Journey" allow-return-values="true" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.reporting.Listeners.TestListener"/>
        <listener class-name="com.reporting.Listeners.AnnotationTransfomer"/>
    </listeners>
    <test name="Feature Api Test Mobile">
        <classes>
            <class name=""/>
        </classes>
    </test>
    <test name="E2E Tests Android">
        <parameter name="device" value="S9"/>
        <parameter name="apk" value="N"/>
        <parameter name="serverIp" value="172.23.126.97"/>
        <classes>
            <class name=""/>
        </classes>
    </test>
</suite>